.book__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 1.5625rem;
  padding: 0.75rem 0;
  border-bottom: 1px solid #d5d8df;
}

.book__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;

  color: #393b3f;
}

.book__author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #60636a;
}

.book__action {
  display: flex;
  gap: 1.5625rem;
}
