.nav {
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #3c98cc;
}

.nav__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
}
